# Node modules
client/node_modules/
server/node_modules/

# Build outputs
dist/
build/

# Vite cache
.vite/

# Local environment variables
.env    

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

